header{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0.5%;
    background-color: #78bbe6;
    height: 10%;
}
#logo{
    flex: auto;
    height: 100%;
}





h1{
    margin-top: 5%;
    margin-left: 10%;
}
#bookInfo{
    table-layout: auto;
    text-align: left;
    width: 80%;
    margin-left: 10%;
}

.bookInfoIndex{
    background-color: whitesmoke;
    width: 30%;
}

#editButton{
    width: 20%;
    margin-left: 40%;
    cursor: pointer;
    background-color: #f99f48;
    color: white;
}
#editButton:hover{
    background-color: #ff8c00;
}
